<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<h1 style="text-align: center">{{ title }}</h1>
	<hr>
	
	<div class="container container-fluid">
		{% for err in errors %}
  			<div class='alert alert-danger'>{{ err.msg }}</div>
		{% endfor %}

		{% if (success_msg != "") %}
			<div class='alert alert-success'>{{ success_msg }}</div>
		{% elif (error_msg != "") %}
			<div class='alert alert-danger'>{{ error_msg }}</div>
		{% elif (error != "") %}
			<div class='alert alert-danger'>{{ error }}</div>
		{% endif %}

		{% block content %}
		{% endblock %}
	</div>
</body>
</html>