{% set title='Change Password' %}
{% extends '_layout.html' %}

{% block content %}

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2"></div>
        <label class="control-label col-sm-2" for="pw-old">Confirm Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="pw-old" placeholder="Password Old" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"></div>
        <label class="control-label col-sm-2" for="new-pw">Confirm Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="new-pw" placeholder="New password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"></div>
        <label class="control-label col-sm-2" for="confirm-pwd">Confirm Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="confirm-pwd" placeholder="Confirm password" required>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

{% endblock %}