.form-horizontal {
    text-align: center;
}

.image .image-detail {
    margin-top: 10px;
}

.detail-transfer {
    text-align: center;
    margin-top: 10px;
}

.detail-transfer .change-pw {
    margin-left: 40px;
}