.form-horizontal {
    text-align: center;
}

.image .image-detail {
    margin-top: 10px;
}

.image .image-detail img{
    width: 160px;
    height: 100px;
}

.detail-transfer {
    text-align: center;
    margin-top: 10px;
}

.detail-transfer .change-pw {
    margin-left: 40px;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.google-plus {
    background-color: #cc181e;
}