.form-horizontal {
    text-align: center;
}

.image .image-detail {
    margin-top: 10px;
}

.avatar{
    width: 120px;
    height: 120px;
}

.detail-transfer {
    text-align: center;
    margin-top: 10px;
}

.detail-transfer .change-pw {
    margin-left: 40px;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.google-plus {
    background-color: #cc181e;
}

#uploadImage {
    margin-top: 5px;
}

#inputImage {
    display: none
}

.logout {
    position: absolute;
    margin-right: 100px;
    margin-top: 50px;
}

.header {
    position: relative;
}
